{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FINDORA</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Swiper CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <!-- Özel CSS -->
    <link rel="stylesheet" href="{% static 'css/kayip_esya_bildir.css'%}">
</head>
<body>
   <!-- Header alanı - Arka planın üstünde görünecek -->
<header class="custom-header d-flex justify-content-between align-items-center px-4 py-3">
    <div class="logo text-white fw-bold fs-3">
        FINDORA
    </div>
   <nav class="menu d-flex gap-4">
    <a href="{% url 'home' %}" class="menu-link text-white text-decoration-none">Anasayfa</a>
    <a href="{% url 'kayip_esya_bildir' %}" class="menu-link text-white text-decoration-none{% if request.path == '/kayip-esya-bildir/' %} active{% endif %}">Kayıp Eşya Bildir</a>
    <a href="{% url 'hakkimizda' %}" class="menu-link text-white text-decoration-none">Hakkımızda</a>
    <a href="{% url 'iletisim' %}" class="menu-link text-white text-decoration-none">İletişim</a>
</nav>
</header>


<!-- Sayfa içeriği -->
<div class="container d-flex justify-content-center mt-5">
    <div class="report-box text-center p-4">
        <h1 class="page-title"> Kayıp Eşya Bildir</h1>
        <div class="d-flex justify-content-center gap-4 mt-4 flex-wrap">
            <a href="{% url 'buldum' %}" class="btn-custom btn-found">BULDUM</a>
            <a href="{% url 'kaybettim' %}" class="btn-custom btn-lost">KAYBETTİM</a>
        </div>
    </div>
</div>


    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" 
    crossorigin="anonymous"></script>

</body>
</html>